*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --text-xs: 0.5rem;
    --text-sm: 0.75rem;
    --text-md: 1.125rem;
    --text-lg: 1.5rem;
    --text-xl: 2.25rem;
    --text-2xl: 3rem;

    --accent-color: oklch(51.1% 0.262 276.966);
    --accent-txt-color: oklch(93% 0.034 272.788);

    --border-radius-pill: 50px;
    --shadow-xl:
        0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
    line-height: 1.6;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-md);
    font-variation-settings: "wdth" 100;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root {
    width: min(95rem, 90%);
    margin-inline: auto;
}
