@scope (.home-page-grid) {
    .callout {
        p {
            margin-block-end: 1rem;

            width: min(30rem, 90%);
            text-wrap: balance;
            font-size: var(--text-lg);
            font-weight: 700;
        }
    }

    .dog-looking-up-img-container {
        position: relative;
        max-width: 30rem;

        ::before {
            position: absolute;
            content: url("./circles.svg");
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .blob-dog-img {
        mask-image: url("./landing-blob-1.svg");
        mask-repeat: no-repeat;
        mask-position: left;
    }
}
