@scope (.search-pets-wrapper) {
    :scope {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-areas: "info imgs";
    }

    .info-group {
        grid-area: "info";
    }

    .adoption-img-group {
        /* child property */
        grid-area: "imgs";

        /* as a parent property */
        display: grid;
        column-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

        img {
            border-radius: 20px;
            box-shadow: var(--shadow-xl);
        }

        img:nth-child(1),
        img:nth-child(3) {
            margin-block-start: 30%;
        }
    }
}
