@scope (.search-pets-wrapper) {
    :scope {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-areas: "info imgs";
    }

    .info-top {
        margin-block-end: 3rem;
    }

    .info-form {
        display: flex;
        flex-direction: column;

        .form-group {
            margin-block-end: 1rem;
        }
    }

    .info-group {
        grid-area: info;
    }

    .adoption-img-group {
        /* child property */
        grid-area: imgs;

        /* as a parent property */
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 1fr 1.2fr 1fr;

        img {
            border-radius: 20px;
            box-shadow: var(--shadow-xl);
        }

        img:nth-child(1),
        img:nth-child(3) {
            max-width: 20rem;
            align-self: end;
        }

        img:nth-child(1) {
            justify-self: end;
        }
    }
}
