@scope (.search-pets-wrapper) {
    :scope {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "info imgs";
        gap: 6rem;
    }

    h1 {
        margin-block-end: 0.5rem;
        line-height: 1;
    }

    .info-top {
        margin-block-end: 3rem;
    }

    .info-form {
        display: flex;
        flex-direction: column;

        .form-group {
            margin-block-end: 1rem;

            display: flex;
            flex-direction: column;
        }

        button {
            align-self: flex-start;
            padding: 0.5rem 2rem;
            border: none;
            border-radius: var(--border-radius-pill);

            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.1em;
            cursor: pointer;

            background-color: var(--accent-color);
            color: var(--accent-txt-color);
        }
    }

    .info-group {
        grid-area: info;
    }

    .adoption-img-group {
        /* child property */
        grid-area: imgs;

        /* as a parent property */
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 1fr 1.2fr 1fr;

        img {
            border-radius: 20px;
            box-shadow: var(--shadow-xl);
        }

        img:nth-child(1),
        img:nth-child(3) {
            max-width: 20rem;
            align-self: end;
        }

        img:nth-child(1) {
            justify-self: end;
        }
    }
}
