@scope (.header-nav) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    a {
        display: inline-block;
        text-decoration: none;
    }

    nav ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        list-style: none;
    }

    li a {
        padding: 0.5rem 1rem;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-block: 0.5rem;
    }
}
